/*************************************************/
/* Set the base font                             */
/*************************************************/

html {
  font-familly: Helvetica;
  font-size: 18px;
}

/*************************************************/
/* The page has a black background               */
/*************************************************/

body {
  background: black;
  margin: 0;
  padding: 0;
}

/*************************************************/
/* Each band (logo, banner, content, footer) of  */
/* the page will be contained in a container div */
/* having a width of 960 px                      */
/*************************************************/

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/*************************************************/
/* The logo and the company title                */
/*************************************************/

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

span.siteTitle {
  color: white;
  margin: 0.66rem 1rem;
  display: inline;
}

.mainBanner {
	background-image: url("../images/moto.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 25rem;
}

.mainBanner .news {
	background: black;
	color: white;
	width: 20rem;;
	padding: 2rem 3rem;;
	top: 9rem;
	position: relative;
}

.mainBanner .news p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
